.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  box-shadow: 10px 10px 10px #eee;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 12px;
}

.type {
  background-color: #b4b4b4;
  color: #000;
  padding: 2px 12px;
  font-size: 12px;
  border-radius: 10px;
  font-weight: 600;
}

.price {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}

.list {
  width: 100%;
}

.list li {
  color: #888;
}

.button {
  background: linear-gradient(to right, rgb(223, 59, 59), rgb(185, 32, 185));
  background-color: rgb(223, 59, 59);
  width: 100%;
  border-radius: 5px;
  padding: 8px 0;
  margin-top: 20px;
  color: #fff;
}

.timeContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeBtn{
  border: .1rem solid #ccc;
  overflow: hidden;
  border-radius: 2rem;
}

.timeBtn button{
  padding: .5rem 1rem;
}

.activeBtn{
  background-color: #ccc;
}